@model SalesProject.Model.SalesModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SalesModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unit_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unit_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantity_sold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantity_sold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_sales_after_taxes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_sales_after_taxes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.invoice_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
